<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Album</title>
<link th:href="@{/css/clientstyle.css}" rel="stylesheet" />
</head>
<body>
    <div th:insert="header::header"></div>
    
    <p>
        <a href="/">Home</a>
        >
        <a th:href="@{'/fotografo/'+${fotografo.id}}">
          <span th:text="${fotografo.nome}">Mario</span>
          <span th:text="${fotografo.cognome}">Rossi</span>
        </a>
    </p>
    
	<h1>Album di
	  <span th:text="${fotografo.nome}">Mario</span>
	  <span th:text="${fotografo.cognome}">Rossi</span>
	</h1>
	
	<div th:if="${session.dipendenteCorrente!=null}">
	   <span><a href="/aggiungiAlbum">Inserisci album</a></span>
	</div>
	
	<ul>
		<li th:each="album:${fotografo.album}">
			<p>
				Nome: <span 
					     th:text="${album.nome}">Paesaggi</span>
			</p>
			<p>
				<span th:text="${album.descrizione}">bla bla bla</span>
			</p>
			<p><a th:href="@{'/album' + '/' + ${album.id}} ">Vedi Fotografie</a></p>
		</li>
	</ul>

</body>
</html>