<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Conferma richiesta</title>
</head>
<body>
	Riepilogo Richiesta:
	<p>Nome: <span th:text="${richiesta.cliente.nome}"> Paolo </span></p>
	<p>Cognome : <span th:text="${richiesta.cliente.cognome}"> Rossi </span></p>
	<p>Email: <span th:text="${richiesta.cliente.email}"> abc@email.it </span></p>
	<p>Indirizzo di consegna: <span th:text="${richiesta.cliente.indirizzo}"> via Cristoforo Colombo, 1</span></p>

	Foto selezionate:
	<ul>
		<li th:each="fotografia:${richiesta.fotografie}">
			<p><span th:text="${fotografia.nome}">foto1</span></p>
			<img />
		</li>
	</ul>

	<p>Inviare la richiesta per questi dati?</p>
	<p>
		<a th:href="@{/confermaRichiesta}"> Invia Richiesta</a>
	</p>

</body>
</html>