<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Conferma richiesta</title>
<link th:href="@{/css/clientstyle.css}" rel="stylesheet" />
</head>
<body>
	<h2>Riepilogo Richiesta</h2>
	<p>
		<strong>Nome: </strong><span th:text="${richiesta.cliente.nome}"> Paolo </span>
	</p>
	<p>
		<strong>Cognome : </strong><span th:text="${richiesta.cliente.cognome}"> Rossi </span>
	</p>
	<p>
		<strong>Email: </strong><span th:text="${richiesta.cliente.email}"> abc@email.it
		</span>
	</p>
	<p>
		<strong>Indirizzo di consegna: </strong><span th:text="${richiesta.cliente.indirizzo}">
			via Cristoforo Colombo, 1</span>
	</p>

	<h3>Foto selezionate:</h3>
			<div th:each="fotografia:${richiesta.fotografie}">
				<img th:src="@{${fotografia.picLocation}}" width="300">
			</div>

	<p>Inviare la richiesta per questi dati?</p>
	<p>
		<a th:href="@{/confermaRichiesta}"><button class="button buttonForm">Invia Richiesta</button></a>
		<a th:href="@{/inviaRichiesta}"><button class="button button1">Torna indietro</button></a>
	</p>

</body>
</html>