<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Fotografie</title>
<link th:href="@{/css/clientstyle.css}" rel="stylesheet" />
</head>
<body>
	<div th:insert="header::header"></div>
	
	<p>
        <a href="/">Home</a>
        > 
        <a th:href="@{'/fotografo/'+${album.fotografo.id}}">
          <span th:text="${album.fotografo.nome}">Mario</span>
          <span th:text="${album.fotografo.cognome}">Rossi</span>
        </a>
        >
        <a th:href="@{'/album' + '/' + ${album.id}} " th:text="${album.nome}">
        Paesaggi
        </a>
    </p>
	
	<h1 th:text="${album.nome}">Paesaggi</h1>
	
	<div th:if="${session.dipendenteCorrente!=null}">
	   <a href="/aggiungiFotografia">Inserisci foto</a>
	</div>
	
	<div th:each="fotografia:${album.fotografie}">
	<table>
	 <tr>
	    
	   <td>
	      <a th:href="@{'/fotografia' + '/' + ${fotografia.id}} "> <img
				th:src="@{${fotografia.picLocation}}" width="400" />
		   </a>
	   </td>
	   
	   <td> 
		<h3 th:text="${fotografia.nome}">Mare</h3>
		<p th:text="${ fotografia.descrizione }">Bla bla bla</p> 
		
		<div th:if="${ session.dipendenteCorrente==null }">
		  <a th:if="${carrello.contains(fotografia.id)}" th:href="@{'/rimuoviFotografia/' + ${fotografia.id}}">
		    <Button  type="submit" >Rimuovi foto dal carrello</Button>
	      </a>
	
	      <a th:unless="${carrello.contains(fotografia.id)}" th:href="@{'/aggiungiFotografia/' + ${fotografia.id}}">
	        <Button type="submit">Aggiungi foto al tuo carrello</Button>
	      </a>
	     </div>

	   </td>
	   
	  </tr>
	</table>
   </div>
	
</body>