<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Fotografie</title>
<link th:href="@{/css/clientstyle.css}" rel="stylesheet" />
</head>
<body>
	<div th:insert="header::header"></div>
	
	<h1 th:text="${album.nome}">Paesaggi</h1>
	
	<div th:if="${session.dipendenteCorrente!=null}">
	   <a href="/aggiungiFotografia">Inserisci foto</a>
	</div>
	
	<div th:each="fotografia:${album.fotografie}">
		<p th:text="${fotografia.nome}">Mare</p>
		
		<p>
			<a th:href="@{'/fotografia' + '/' + ${fotografia.id}} "> <img
				th:src="@{${fotografia.picLocation}}" width="500" />
			</a>
		</p>
		
	</div>
	
</body>