<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/css/clientstyle.css}" rel="stylesheet" />
<title>Fotografi</title>
</head>
<body>
    <div th:insert="header::header"></div>
	<h1>Elenco fotografi</h1>
	
	<div th:if="${session.dipendenteCorrente!=null}">
       <span><a href="/aggiungiFotografo"><button class="button button1">Inserisci fotografo</button></a></span>
    </div>
    
	<ul>
		<li th:each="fotografo:${fotografi}">
			<p>Nome: <strong><span th:text="${fotografo.nome}">Donald</span></strong></p>
			<p>Cognome: <strong><span th:text="${fotografo.cognome}">Trump</span></strong></p>
			<p>
				<a th:href="@{'/fotografo' + '/' + ${fotografo.id}} "><button class="button button1">Vedi Album</button></a>
			</p>
		</li>
	</ul>

</body>
</html>