<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Fotografie</title>
<link th:href="@{/css/clientstyle.css}" rel="stylesheet" />
</head>
<body>
    <div th:insert="header::header"></div>
	<h1>Elenco fotografie</h1>
	<ul>
		<li th:each="fotografia:${album.fotografie}">
			<p>
				<img th:src="@{${fotografia.picLocation}}" width="500">
			</p>
			<p>
				Nome: <span th:text="${fotografia.nome}">Mare</span>
			</p>
			<p>
				<span th:text="${fotografia.descrizione}">bla bla bla</span>
			</p>
			<p>
				<a th:href="@{'/fotografia' + '/' + ${fotografia.id}} ">Vedi Foto</a>
			</p>
		</li>
	</ul>

</body>