<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Fotografia</title>
</head>
<body>
	<p>
		<img th:src="@{${fotografia.picLocation}}" width="1000">
	</p>
	<p>
		Nome: <span th:text="${fotografia.nome}">Mare</span>
	</p>
	<p>
		<span th:text="${ fotografia.descrizione }">bla bla bla</span>
	</p>
	<img>
	<div th:if="${ dipendenteCorrente==null }">
	<a th:href="@{'/aggiungiFotografia/' + ${fotografia.id}}">
		<Button th:if="${carrello.contains(fotografia.id)}" type="submit" >Rimuovi foto dal carrello</Button>
		<Button th:unless="${carrello.contains(fotografia.id)}" type="submit">Aggiungi foto al tuo carrello</Button>
	</a>
	</div>
</body>
</html>