<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="header">

<div th:if="${session.dipendenteCorrente==null}">
<h3><a href="/inviaRichiesta"><button>Invia richiesta</button></a></h3>
<h3 class="dipendenteRef"><a href="/login"><button>Accedi</button></a></h3>
</div>

<div th:if="${session.dipendenteCorrente!=null}">

<table>
   <tr>
  <td ><img src="/images/dipendenteIcona.jpg" width="40"></td>
  <td><b><span th:text="${session.dipendenteCorrente.nome}">Andrea</span>
      <span th:text="${session.dipendenteCorrente.cognome}">Germani</span></b></td>    
  </tr>
  <tr><td><a href="/logout"><button>Esci</button></a></td>
       <td><a href="/richieste"><button>Vedi richieste</button></a></td>
  </tr>
</table>


</div>

</div>
</body>
</html>