<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Nuova richiesta</title>
<link th:href="@{/css/clientstyle.css}" rel="stylesheet" />
</head>
<body>
	<h3>Inserisci i tuoi dati per inviare una richiesta</h3>
	<form th:action="@{'/richiesta'}" method="post"
		th:object="${richiesta}">
		<table>
			<tr>
				<td><strong>Nome:</strong></td>
				<td><input type="text" th:field="*{cliente.nome}" /></td>
				<td th:if="${#fields.hasErrors('cliente.nome')}"><span
					class="error" th:errors="*{cliente.nome}"></span></td>

			</tr>
			<tr>
				<td><strong>Cognome:</strong></td>
				<td><input type="text" th:field="*{cliente.cognome}" /></td>
				<td th:if="${#fields.hasErrors('cliente.cognome')}"><span
					class="error" th:errors="*{cliente.cognome}"></span></td>
			</tr>
			<tr>
				<td><strong>Email:</strong></td>
				<td><input type="text" th:field="*{cliente.email}" /></td>
				<td th:if="${#fields.hasErrors('cliente.email')}"><span
					class="error" th:errors="*{cliente.email}"></span></td>
			</tr>
			<tr>
				<td><strong>Indirizzo:</strong></td>
				<td><input type="text" th:field="*{cliente.indirizzo}" /></td>
				<td th:if="${#fields.hasErrors('cliente.indirizzo')}"><span
					class="error" th:errors="*{cliente.indirizzo}"></span></td>
			</tr>
			<tr>
				<td><input type="submit" value="Invia richiesta" /></td>
				<td th:if="${#fields.hasErrors('fotografie')}"><span
					class="error" th:errors="*{fotografie}"></span></td>
			</tr>
		</table>
      </form>
      <table>
			<tr>
				<td><a href="/"><button>Torna indietro</button></a></td>
			</tr>
      </table>
      
     <h4>Foto selezionate:</h4>
       <div th:each="fotografia:${richiesta.fotografie}">
          <table>
          <tr>
	      <td><img th:src="@{${fotografia.picLocation}}" width="300"><td>
	      <td> 
	          <a th:href="@{'/rimuoviDalCarrello/'+${fotografia.id}}">
	          <button>Rimuovi foto dal carrello</button>
	          </a>
	       </td>
	      </tr>
	      </table>
	    </div>
</body>
</html>