<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Lista richieste</title>
<link th:href="@{/css/clientstyle.css}" rel="stylesheet" />
</head>
<body>
	<div th:insert="header::header"></div>
	<h4>Richieste inoltrate</h4>
	<div>
		<ul>
			<li th:each="richiesta:${richieste}">
				<p>
					Email:<span th:text="${richiesta.cliente.email}">andreaGermani@gmail.com</span>
				</p>
				<p>
					Indirizzo di consegna:<span
						th:text="${richiesta.cliente.indirizzo}">via Torrevecchia,1024</span>
				</p>
				<p>
					Data:<span th:text="${richiesta.data}">01/01/2020</span>
				</p>
				<p>
					Numero di foto selezionate:<span
						th:text="${richiesta.fotografie.size()}">5</span>
				</p>
				<p>
					<a th:href="@{'/richiesta/'+${richiesta.id}}">Vedi richiesta</a>
				</p>
			</li>

		</ul>
	</div>
</body>
</html>