<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Richiesta</title>
<link th:href="@{/css/clientstyle.css}" rel="stylesheet" />
</head>
<body>
    <div th:insert="header::header"></div>
	<h2>Dati richiesta</h2>
	<p>
		<strong>Data: </strong><span th:text="${ richiesta.data }"> 01/01/2000</span>
	</p>
	<p>
		<strong>Nome: </strong><span th:text="${richiesta.cliente.nome }">Paolo</span>
	</p>
	<p>
		<strong>Cognome: </strong><span th:text="${richiesta.cliente.cognome}">Rossi</span>
	</p>
	<p>
		<strong>Email: </strong><span th:text="${ richiesta.cliente.email }">abc@email.it</span>
	</p>
	<p>
		<strong>Indirizzo di consegna: </strong><span
			th:text="${ richiesta.cliente.indirizzo }">via Cristoforo
			Colombo, 1</span>
	</p>
	<h3>Foto richieste:</h3>
		<div th:each="fotografia:${richiesta.fotografie}">
			<p>
				<span th:text="${fotografia.nome}">fotoNome</span>
			</p>
			<p>
				<span th:text="${fotografia.descrizione}">fotoDescrizione</span>
			</p>
			<p>
				<img th:src="@{${fotografia.picLocation}}" width="300">
			</p>
		</div>
</body>
</html>