<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Lista richieste</title>
<link th:href="@{/css/clientstyle.css}" rel="stylesheet" />
</head>
<body>
	<div th:insert="header::header"></div>
	<div>
		<ul>
			<li th:each="richiesta:${richieste}"><a
				th:href="@{'/richieste'+'/'+${richiesta.id}}"
				th:text="${richiesta.cliente.cognome}+' '+${richiesta.cliente.nome}+' '+${richiesta.data}"></a></li>

		</ul>
	</div>
</body>
</html>