@charset "ISO-8859-1";

span.richiestaRef{
	position:absolute;
	left:80%;
	top:0;
}

span.dipendenteRef{
	position:absolute;
	left:72%;
	top:0;
}

span.aggiuntaRef{
	position:absolute;
	left:80%;
}

span.fotografiRef{
	position:absolute;
	left:88%;
	top:0;
}

span.error{
	color:red;
}